{% load static %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <aside>
            <ul>
                <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> О сайте</li></a>
                <a href="{% url 'tasks' %}"><li><i class="fas fa-newspaper"></i> Записи</li></a>
                {% block url_add_task %}{% endblock %}
            </ul>
        </aside>

        <aside class="authorization-registration">
            <ul>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'exit' %}"><li><i class="fas fa-home"></i> {{ user.username }} Выйти</li></a>
                {% else %}
                    <a href="{% url 'registration' %}"><li><i class="fas fa-home"></i> Регистрация</li></a>
                    <a href="{% url 'authorization' %}"><li><i class="fas fa-newspaper"></i> Вход</li></a>
                {% endif %}
            </ul>
        </aside>

        <div class="container col-md-6 content">    
            <main>
                {% block main %}
                {% endblock %}
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>