.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: rgb(33, 218, 218);
    background-image: url("https://w-dog.ru/wallpapers/2/4/461318047717931/xejan-jingu-kyoto-yaponiya-xram-xejan-kioto-ozero-prud-vesna-park-derevya-sakura-otrazhenie.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.content {
    display: -webkit-box; /* Safari, iOS 6 и ранних версиях; Android, старых WebKit */
    display: -moz-box; /*  Firefox (может и глючить) */
    display: -ms-flexbox; /*  IE 10 */
    display: -webkit-flex; /* Chrome 21+ */
    display: flex; /* Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

aside {
    display: flex;
    width: 15%;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    margin-top: 10px;
    transition: transform 0.6s; /* добавили плавность к свойству transform */
}

aside ul li:hover,
aside ul a:hover {
    /* добавляем стили для двух тегов через псевдокласс hover */
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

.features .index-p {
    font-size: 5em;
    text-align: center;
    background-color: rgba(215, 224, 236, 0.8);
    color: rgb(35, 36, 35);
    box-shadow: 0 0 5px 2px;
}

.features .todo {
    background-color: rgba(184, 182, 166, 0.8);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px;
}

main {
    width: 85%;
}

main dl {
    width: 100%;
}

main dl dt {
    font-style: italic;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    width: 84%;
    color: #000;
}

.todo .delete-update {
    text-align: end;
    margin-top: -8%;
    width: 100%;
}

.modal-form {
    display: flex;
}

.modal-form .modal-btn {
    margin-left: 2%;
    height: 100%;
}

main .features a,
main .features button {
    color: #fff;
    transition: transform 0.6s;
}

main .features a:hover,
main .features button:hover {
    color: #fff;
    transform: scale(1.05);
    text-decoration: none;
}
